$icon-font-path: '../fonts/';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  text-align: center;
  font-style: italic;
  font-size: 22px;
}


/* the light curve plots */
.light-curves {
  svg {
    height: 500px;
    width: 100%;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    &.active {
      stroke: blue;
      cursor: pointer;
    }
  }
}
