{
  "extends": ["standard", "plugin:react/recommended"],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "semi": [2, "always"],
    "jsx-quotes": [2, "prefer-single"],
    "no-console": 2,
    "no-extra-semi": 2,
    "semi-spacing": [2, { "before": false, "after": true }],
    "react/jsx-tag-spacing": [2, { "beforeClosing": "never" }],
    "prefer-promise-reject-errors": 0
  }
}
