.header {
  padding: 256px 32px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;

  h1 {
    margin-bottom: 32px;
    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}